* {
    font-family: Poppins-Regular, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	color: #292929;
	margin: 0 0 13px 0;
	font-weight: 500;
	line-height: 1.2;
}

a, a:link, a:visited, a:hover {
	text-decoration: none;
	outline: none;
}

li a{
    color: white;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #292929;
	line-height: 1.1;
}

h4{
    font-size: 18px;
}

p{
    margin: 0 0 10px;
}

.button, a.button {
	background-color: #292929;
	color: #fff;
	padding: 10px 28px;
	border: 1px solid #292929;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 100;
	letter-spacing: 1px;
}

.dark-btn {
	background-color: #292929;
	color: #fff;
	border: 1px solid #292929;
	padding: 1px 5px;
}

.button:hover, .dark-btn:hover {
	background-color: #000;
}

.light-btn {
	background-color: #fff;
	color: #292929;
	padding: 1px 5px;
	border: 1px solid #292929;
}

.light-btn:hover {
	background-color: #292929;
	color: #fff;
}

.light {
	background-color: white;
	color: #292929;
	border: 1px solid white;
}

.light:hover {
	background-color: transparent;
	color: white;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.rounder-4 {
	border: 1px solid #ddd;
	border-radius: 4px;
}

.rounder-3 {
	border: 1px solid #ddd;
	border-radius: 3px;
}

.rounder-2 {
	border: 1px solid #ddd;
	border-radius: 2px;
}

.br-2 {
	border-radius: 2px;
}

.br-3 {
	border-radius: 3px;
}

.br-4 {
	border-radius: 4px;
}

.br-5 {
	border-radius: 4px;
}

.br-6 {
	border-radius: 6px;
}

.br-15 {
	border-radius: 15px;
}

.pd-5 {
	padding: 5px;
}

.pd-8 {
	padding: 8px;
}

.pd-10 {
	padding: 10px;
}

.pd-15 {
	padding: 15px;
}

.pd-20 {
	padding: 20px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-20 {
	margin-bottom: 20px;
}

.cart-item {
	position: relative;
	display: flex;
	margin-left: 0;
	margin-right: 0;
}

.cart-item .item-remove {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 5%;
	font-size: 22px;
}

.cart-item .item-content {
	width: 70%;
	padding: 10px;
}

.item-content .buy {
	position: relative;
}

.cart-item .item-image {
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cart-item-img {
	padding: 10px;
	width: 100px;
	max-width: 96%;
}


.payment-cart{
	margin-bottom: 10px;
	background-color: #fff;
}

.payment-cart > ul > li{
	background: #fff;
	margin-bottom: 10px;
}


.payment-cart > ul > li:hover{
	box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
}

.payment{
	background-color: #fff;
	padding: 10px;
	padding-bottom: 20px;
}

