/* Tablet & Mobile */
@media (max-width: 1024px){
    .container-private {
        margin: 0 30px 0 16px;
    }

    .carousel-caption {
        top: 5%;
    }

    div.carousel-caption > h1 {
        font-size: 4.5rem;
    }

    div.carousel-caption > h3 {
        font-size: 2rem;
    }

    div.carousel-caption > a {
        padding: 14px 30px;
        font-size: 1.4rem;
    }

    .position__property-banner-layout {
        top: 16%;
    }

    .footer-wrap {
        display: none;
    }

    .footer-pay {
        display: flex;
        justify-content: center;
        height: 120px;
        align-items: center;
    }
    
    .carousel-control-next, .carousel-control-prev {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 175px;
        /* bottom: 0; */
    }

    .carousel-control-next {
        right: 10px;
    }

    .carousel-control-prev {
        left: 10px;
    }

    .modal-content {
        width: 45%;
    }

    
    /* Cart Responsive */
    .btn-return {
        height: 36px;
    }
}

/* Mobile */

@media (max-width: 739px) {
    /* Main Responsive */
    .container-private {
        margin: 0 16px;
    }

    .header__navbar {
        /* display: none; */
    }
    .header__search {
        display: none;
    }

    .header__responsive {
        display: block;
    }

    .header__navbar-wrap {
        display: none;  
    }

    .header__cart-list {
        width: 361px;
    }

    .header {
        height: 110px;
    }
    
    .banner__layout-pt-res {
        flex-wrap: nowrap !important;
    }
    
    .position__property-banner-layout > h4 {
        font-size: 1.4rem;
    }
    
    .header__logo-img {
        height: 50px;
        width: auto;
    }
    
    .header-with-search {
        height: calc(var(--header-with-search-height) - 30px);
    }

    .position__property-banner-layout > h1 {
        font-size: 1.4rem;
        font-weight: 500;
    }


    .position__property-banner-layout > h5 {
        font-size: 1.4rem;
    }

    .card-title-responsive {
        display: none !important;
    }

    .banner__layout-pt-responsive {
        flex-wrap: unset;
    }

    .img-fluid {
        height: 170px;
    }
    .nav__bars-btn {
        display: block;
    }

    .header__search-mobile {
        display: flex;
        justify-content: space-between;
        margin-right: 16px;
    }

    .header__search-history {
        width: 100%;
    }

    .carousel-item-img {
        height: 230px;
    }

    .carousel-control-next, .carousel-control-prev {
        top: 100px;
        /* bottom: 0; */
    }

    .has-cart {
        flex-direction: column;
    }

    .has-cart__list-item {
        width: 100%;
        margin-left: 12px;
    }

    .has-cart__pay {
        width: 100%;
        padding-left: 16px;
    }

    .btn {
        min-width: 70px !important;
    }

    .btn-quantity {
        min-width: 20px !important;
    }

    .table-item__header-delete i {
        font-size: 1.8rem;
    }

    .table-item__header-type {
        margin-right: 4px;
    }

    .modal-content {
        width: 85%;
    }

    .heading__log-items {
        margin: 4px;
    }

    .heading__log {
        font-size: 1.2rem;
        font-weight: 300;
    }

    .heading__log-io {
        margin: 0;
    }
}