:root {
    --primary-color: #ff6000;
    --white-color: #fff;
    --background-color:#fff;
    --black-color: #000;
    --text-color: #333; 
    --border-color: #dbdbdb;
    --heading-height: 30px;
    --header-height: 180px;
    --navbar-height: 40px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height) - var(--heading-height));

    --primary-background: #c89979;
    --background-color: #fefefe;
    --light-text-color: rgb(163, 161, 161);
    --btn-color: #333;
}

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: var(--background-color);
}

a {
    text-decoration: none !important;  
}
.link-menu-list {
    list-style: none;
}
.link-menu-name {
    float: left;
    font-size: 1.6rem;
    list-style: none;
}

.link-page-name {
    color: var(--light-text-color);
}

.filter {
    margin-left: auto;
} 

.category-list {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.category-menu {
    border-right: 1px  solid var(--border-color);
}

.category__view {
    font-size: 1.4rem;
}

.category-list-name {
    color: var(--text-color);
    font-size: 1.4rem;
}
.category-list-name:hover, .category-list-name:active {
    color: var(--primary-color);
}

.category__list-product {
    font-size: 1.6rem;
    margin-bottom: 16px;
}

.category-list {
    display: flex;
}

.category-box {
    background-color: var(--background-color);
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-radius: 5px;
    /* border: 1px solid var(--border-color); */
}

.category-box:hover {
    /* border: 3px 3px #333; */
    /* box-shadow: 0 3px 6px -4px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%); */
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    /* background-color: var(--light-color); */
}

.category-name {
    text-align: center;
    color: var(--text-color);
    padding: 15px 5px;
    font-size: 1.4rem;
}

.btn-add {
    background-color:var(--btn-color) ;
    color:var(--text-color);
    color: white;
    font-size: 1rem;
}
.btn-add:hover {
    background-color: var(--primary-color);
    color: white;
}

.category-price {
    text-align: center;
    color: var(--primary-background);
    text-transform: uppercase;
    font-weight: bold ;
    font-size: 1.4rem;
}

.vnd {
    font-family: 'Fascinate', cursive;
    text-transform: lowercase;
}