/*  Page of infomation of customer */
.item__pagination {
    background: url("https://frontend.tikicdn.com/_desktop-next/static/img/icons/breadcrumb.svg");
    width: 18px;
    height: 39px;
    content: "";
    display: inline-block;
    position: absolute;
    left: 33%;
    top: 2px;
    color: rgb(204, 204, 204);
}

.container-fluid > .container > .position-absolute > .nav-item-home {
    font-size: 1.3rem;
}

.nav-item-home > a.nav-link{
    color: var(--text-color);
    opacity: 0.8;
}

.container-fluid > .container > .position-absolute > .nav-item-infomation{
    font-size: 1.3rem;
    margin-left: 32px;
}

.img__customer{
    max-width: 44px;
    height: 40px;
    border-radius: 50%;
}

.name__customer > h4{  
    font-size: 1.3rem;   
    font-weight: 400;
}

.name__customer > h3{  
    font-weight: 400;
}

.font__size-3{font-size: 1.3rem;font-weight: 500;}

.font__size-3 > a{color: rgb(82, 79, 79);;}

.font__size-4{font-size: 1.8rem;color: rgb(155, 155, 155);}
/*  */



/*Bảng Lịch sử  */
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    /* border: 1px solid #ddd; */
    padding: 8px;
    font-size: 1.5rem;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #4ca2af3a;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4ca1af;
    color: white;
  }


  /* css chi tiet hoa đơn */
.css-h5{
    line-height: 19px;
    color: #6e6868;
}
.css-height-160{
    min-height: 160px;
}


/*  <!--Banner layout update 3/14/2021 --> */
/* phần update */
.banner__layout-opacity{
    transition: 0.4s;
    border-radius: 5px;
}

.box-sizing{
    box-sizing: border-box;
}

.banner__layout-opacity:hover .banner__img-scale {
    transition: 0.4s;
    border-radius: 5px;
     transform: scale(1.2) ;
}

.banner__img-scale{
    transition: 0.4s;
}

.scroll__starup-banner-top{
    animation: scroll__starup-banner-top 2s ease-in forwards ;
}

.scroll__starup-banner-bottom{
    animation: scroll__starup-banner-bottom 2s ease-in forwards ;
}

@keyframes scroll__starup-banner-top{
    from{
        opacity: 0;
        margin-top: -50px;
    }
    to{
        opacity: 1 ;
        margin-top: 0;
    }
}

@keyframes scroll__starup-banner-bottom{
    from{
        opacity: 0;
        margin-top: 50px;
    }
    to{
        opacity: 1 ;
        margin-top: 0;
    }
}
/* kết thúc update  */

/* slider  */
.scroll-delay{
    animation-delay: 3s;
}
/* end slider */